:root{
    --main-color:#10cab7;
    --second-color:#2c4755;
}
*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Work Sans", sans-serif;
}

.parent{
    background: #EEE;
}

.container{
    padding: 0 15px;
    margin:0 auto;
}

/* Compenent*/

.special-heading{
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  letter-spacing: -3px;
  font-weight: 800;
  margin: 0;
}
.special-heading + p{
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

@media only screen and (max-width:767px) {
    .special-heading{
        font-size: 60px;
    }

    .special-heading + p{
        margin-top: -20px;
    }
}
/*small*/

@media only screen and (min-width: 768px) {
    .container{
        width: 750px;
    }
}

/*meduim*/

@media only screen and (min-width: 992px) {
    .container{
        width: 970px;
    }
}

/*large*/

@media only screen and (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}


/*__________END GLOBAL ROLES_________*/
.header {
    padding: 20px;
  }

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    width: 60px;
}

.header .links{
    position: relative;
    cursor: pointer;
}

.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span{
    background: #333;
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icon span:first-child{
    width: 100%;
}

.header .links .icon span:nth-child(2){
    width: 60%;
    transition: .3s ease;
}

.header .links .icon span:last-child{
    width: 100%;
}

.header .links:hover .icon span:nth-child(2){
    width: 100%;
}

.header .links ul{
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    background: #F6F6F6;
    list-style: none;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
    
}
.header .links ul::before{
    content: "";
    position: absolute;
    right: 5px;
    top: -20px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #F6F6F6 transparent;
}
.header .links:hover ul {
    display: block;
}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: .3s;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
.header .links ul li a:hover{
    padding-left: 25px;
}

/*_________END HEADER_______*/

.landing{
    background-image:linear-gradient(to right, rgba(204, 204, 204, 0.37), rgba(170, 170, 170, 0.384)), url(../images/background.png);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1{
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}

.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
   

}

/*Features*/
.features{
  padding: 60px 0;
  background: #F6F6F6;
}
.features .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.features .feat{
  text-align: center;
  padding: 20px;
}
.features .feat i{
    color: var(--main-color);

}
.features .feat h3{
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p{
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}

/*---------Servises-----------*/
.services{
  padding: 60px 0;
}
.services-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.services .services-content .col{
  padding: 10px;
}

.services .services-content .col .srv{
  display: flex;
  margin-bottom: 40px;
}
.services .services-content .srv i{
  color: var(--main-color);
  flex-basis: 60px;
}

.services .services-content .col .srv .text{
  flex: 1;
}
.services .services-content .col .srv .text h3{
  margin: 0 0 20px;
}

.services .services-content .col .srv .text p {
  line-height: 1.6;
  color: #444;
  font-weight: 300;
  
}

@media only screen and (max-width:767px) {
    .services .services-content .col .srv{
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .col .image{
    text-align: center;
    position: relative;
}
.services .services-content .col .image::before{
    content: '';
    background-color: var(--second-color);
    width: 80px;
    height: calc(100% + 100px);
    position: absolute;
    top: -50px;
    right: 0;
    z-index: -1;
}

@media only screen and (max-width:1199px) {
    .image-column{
        display: none;
    }
}

/*----Portfolio-----*/

.portfolio{
    padding: 60px 0;
    background-color: #F6F6F6;
}

.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}
.portfolio .portfolio-content .card {
    background:white;
}
.portfolio .portfolio-content .card img {
    width: 100%;
}

.portfolio .portfolio-content .card .info{
  padding: 20px;
}

.portfolio .portfolio-content .card .info h3{
    margin: 0;
}
.portfolio .portfolio-content .card .info p{
    line-height: 1.6;
    margin-bottom: 0;
    color: #777;
}

/*about*/

.about{
    padding: 60px 0 120px;
}
.about-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media only screen and (max-width:991px) {
    .about-content{
        flex-direction: column;
        text-align: center;
    }
    .about-content .image::before,
    .about-content .image::after{
        display: none;
    }
}

.about-content .image{
    position: relative;
    width: 250px;
    height: 375px;
}
.about-content .image img{
    max-width: 100%;
}
@media only screen and (max-width:991px){
    .about-content .image{
        margin: 0 auto 60px;
    }
}
.about-content .image::before{
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 80px;
  height: calc(100% + 100px);
  top: -50px;
  left: -20px;
  z-index: -1;
}

.about-content .image::after{
  content: "";
  width: 120px;
  height: 250px;
  position: absolute;
  border-bottom: 80px solid var(--main-color);
  border-left: 80px solid var(--main-color);
  z-index: -1;
  top: -50px;
  right: -150px;
}
.about .text{
    flex-basis: calc(100% - 500px);
}


.about .text p:first-of-type{
   margin-bottom: 50px;
   font-weight: bold;
   line-height: 2;
}
.about .text hr{
  width: 50%;
  border-color: var(--main-color);
  display: inline-block;
}
.about .text p:last-of-type{
    line-height: 1.6;
    color: #777;
}

/*--------------Contact-----------*/

.contact{
    padding: 60px 0;
    background-color: #F6F6F6;
}

.contact .info{
    text-align: center;
    padding: 60px 0;
}

.contact .info .label{
    font-size: 40px;
    font-weight: 800;
    color: var(--second-color);
    margin-bottom: 15px;
    letter-spacing: -2px;
}

.contact .info .link{
  display: block;
  text-decoration: none;
  color: var(--main-color);
  font-size: 40px;
  font-weight: 800;
}

.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
}

.contact .info .social i{
    margin-left: 10px;
    color: var(--second-color);
}

@media (max-width: 767px){
    .contact .info .label,
    .contact .info .link{
        font-size: 20px;
    }
}

/*footer*/

.footer{
    background-color: var(--second-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

.footer span{
    font-weight: bold;
    color: var(--main-color);
}